.widget-calendar {
}

.sc-AnqlK {
  background-color: #fafafa !important;
  height: inherit !important;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.sc-AnqlK .sc-keFjpB {
  color: #03a9f4 !important;
  background-color: #ff5252;
  color: #fff !important;
}

.sc-AnqlK .sc-kVrTmx {
  color: #37474f !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.sc-AnqlK .sc-jWojfa {
  background-color: #ff5252;
  color: #fff !important;
}
