@import url("colores.css");


html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light{
  font-weight: 300!important;
}
.normal{
  font-weight: 400!important;
}
.medium{
  font-weight: 500!important;
}
.semi-bold{
  font-weight: 600!important;
}
strong, .strong, .bold {
  font-weight: 700!important;
}
.extra-bold{
  font-weight: 900!important;
}

.box-4{
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.box-6{
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}


hr.line{
  margin: 10px 0 4%;
  width: 5rem;
  border: 3px solid #8bc34a;
}

.shadow-text {
  text-shadow: 1px 1px 1px #222 !important;
}

.vertical-margin{
  margin-top: 40px;
  margin-bottom: 40px;
}
.vertical-margin-top{
  margin-top: 40px;
}
.vertical-margin-top-middle{
  margin-top: 20px;
}
.vertical-margin-top-small{
  margin-top: 10px;
}
.vertical-margin-bottom{
  margin-bottom: 40px;
}
.vertical-margin-bottom-middle{
  margin-bottom: 20px;
}
.vertical-margin-bottom-small{
  margin-bottom: 10px;
}


.menu-transparente{
  /*background-color: inherit !important;*/
  background-color: rgba(0,0,0,.7) !important;
  z-index: 9999!important;
}


.image-over{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  height: 320px;
  padding: 30px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.pattern1{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFUlEQVQImWNgQAO/fv0yproAAwMDADvBD6bchomlAAAAAElFTkSuQmCC) repeat;
}
.pattern2{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGAwZiAWYFcJABFmAGeceo4VAAAAAElFTkSuQmCC) repeat;
}
.pattern3{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAD0lEQVQImWNgwARStBAAABpPAIPQzAGMAAAAAElFTkSuQmCC) repeat;
}


.curson-default{
  cursor: default!important;
}
.curson-crosshair{
  cursor: crosshair!important;
}
.curson-pointer{
  cursor: pointer!important;
}
.curson-move{
  cursor: move!important;
}
.curson-nw-resize{
  cursor: nw-resize!important;
}
.curson-ne-resize{
  cursor: ne-resize!important;
}
.curson-n-resize{
  cursor: n-resize!important;
}
.curson-e-resize{
  cursor: e-resize!important;
}
.curson-help{
  cursor: help!important;
}
.curson-text{
  cursor: text!important;
}
.curson-wait{
  cursor: wait!important;
}


/*
 * Personalizando MuI
 */

.MuiTypography-h4 {
    font-size: 1.5rem !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.05!important;
    letter-spacing: 0.00em!important;
}

.item-compromisos{}
.item-compromisos a:hover,
.item-compromisos a:hover > * {
    color: #f4ff81;
    -webkit-transition: none;
    transition: none;
    border-bottom-color: transparent;
    text-decoration: none;
    -webkit-transform: none;
    transform: none;
}


/*
 * Reset estilos gobabierto
 */

.row__ > * {
    padding: 0 0 0 0;
}

a:hover, a:hover > * {
    color: #03a9f4;
    -webkit-transition: none;
    transition: none;
    border-bottom-color: transparent;
    text-decoration: none;
    -webkit-transform: none;
    transform: none;
}



/*
 * Estilos Moviles
 */

@media screen and (max-width:640px) {
  /* Resoluciones menores de 640 píxeles de ancho. */
  
  #page-wrapper {
      padding-bottom: 0px;
      padding-top: 0px !important;
  }

  .menu-transparente{
    margin-top: 0!important;
  }
  .image-over{
    height: 240px;
    padding: 25px;
  }

  .item-compromisos{
    height: 240px !important;
  }


}


@media screen and (max-width:1024px) and (min-width:640px) {
  /* Resoluciones menores de 1024 píxeles de ancho pero mayores que 640 píxeles */

  #page-wrapper {
      padding-bottom: 0px;
      padding-top: 0px !important;
  }

  .menu-transparente{
    margin-top: 0!important;
  }

  .image-over{
    height: 280px;
    padding: 25px;
  }

  .item-compromisos{
    height: 280px !important;
  }

}


@media screen and (min-width:1024px) and (max-width:1109px) {
  /* Resoluciones mayores de 1024 píxeles. */

  .image-over{
    height: 280px;
    padding: 25px;
  }

  .item-compromisos{
    height: 280px !important;
  }

}



